@using Dominio.Recursos
@model Dominio.Dto.CompraDto
@{
    Layout = null;
    ViewBag.Title = "Comprar";
}
@Scripts.Render("~/bundles/jqueryval")

@using (Ajax.BeginForm("Comprar", "Natura", new AjaxOptions(), new {@class = "form-horizontal search-form", data_dialogo_titulo = Textos.Producto_Crear, enctype = "multipart/form-data"}))
                {
    <div data-bind="foreach: Productos">
        <a class="quitarProducto" data-bind="click: $root.quitarProducto">×</a>
        <div class="row rowSombreada">
            <div class="col-md-6"><strong class="producto-linea" data-bind="text: Nombre"></strong></div>
            <div class="col-md-4"><span class="producto-linea" style="margin-left: 10px" data-bind="text: PrecioVisible"></span></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-4">
            <strong class="producto-linea" style="margin-left: 10px" data-bind="text: Total.Nombre"></strong>
            <span class="producto-linea" data-bind="    text: Total.PrecioVisible"></span>
        </div>
    </div>
    @Html.HiddenFor(model => model.Productos, new {@data_bind = "value: ko.toJSON($root.Productos())"})
    <div class="form-group">
        @Html.LabelFor(model => model.Mail, new {@class = "control-label col-sm-4"})
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.Mail, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.Mail)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Telefono, new {@class = "control-label col-sm-4"})
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.Telefono, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.Telefono)
        </div>
    </div>
                }
